body {
    font-family: Poppins;
}

.section4 h2 {
    font-weight: 600;
    font-size: 36px;
}

.headertxt {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 38px;
    margin-bottom: 68px;
}

.section4 h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #F9B233;
}

.section4 .carte {
    background-color: #272727;
}

.section4 .carte p {
    font-size: 14px;
    line-height: 28px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    background-color: #272727;
    color: white;
    height: 509px;
}

footer h2 {
    font-size: 24px;
}

.paragraphe {
    font-size: 15px;
    padding-right: 90px;
}

.aboutUs {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 400;
}

.section4 .lol {
    margin-bottom: 65px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navContainer {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0 5%;
    margin-top: 10%;
    align-items: center;

}

.butt {
    margin-top: 1%;
    width: 235px;
    height: 54px;
    background: #272727;
    border-radius: 30px;
    color: white;
}

.bacground {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.car {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 270px;
    right: 50px;
}

.transparentCard {
    background: rgba(39, 39, 39, 0.4);
    color: white;
    position: absolute;
    left: 38%;
    top: 30%;
    text-align: center;
    padding: 25px 50px;
}

.orange {
    color: #FFB727;
}

section {
    margin-top: 20px;
}


.titre3 {
    color: #F9B233;
    font-size: 24px;
    text-align: center;

}

.titre32 {
    text-align: center;
}

.titre34 {
    color: #F9B233;
}

.background {
    color: white;
    background: #272727;
    width: 255px;
    height: 227px;


}

.mi {
    color: #F9B233;
    font-weight: bold;
    font-size: 20px;
}


.mt3 {
    margin-top: 15px;
}

.section3 {
    margin-top: 15px;
}

.bouton3 {
    border-radius: 28px;
    width: 212px;
    height: 55px;
}

.central {
    text-align: center;
}

.btntelchar {
    height: 69px;
    width: 199px;
    background-color: black;
    border-radius: 10px;
    color: white
}

/* deux classe pour le taille d'ecreture dans le bouton*/
.bt-tel-tx1 {
    font-style: SemiBold;
    font-size: 12px;



}


.bt-tel-tx2 {
    font-size: 16px;

}

.buttonhover:hover {
    color: white;
}

.titre1 {
    color: rgba(249, 178, 51, 1);
    font: size 24px;

}

.titre2 {
    font-size: 36px;
}